<div class="content">
  {{> header_in title="Blog" description="Mi espacio de opinion y criticas." }}

  <div class="grid col-3">
    {{#blogs }}
      {{> blog main_img=main_img title=title description=description id=id }}
    {{/blogs }}
  </div>

</div>


