.grid {
  display: grid;
  &.col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  &.gap-4 {
    gap: 4rem;
  }
}

.grid-area {
  display: grid;
  grid-template-rows: 15rem 5rem auto 3rem ;

  &.card img {
    height: 15rem;
  }
}

@media screen and (max-width: 750px) {
  .grid {
    &.col-3 {
      grid-template-columns: 1fr 1fr;
    }
    &.gap-4 {
      gap: 2rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .grid {
    &.col-3 {
      grid-template-columns: 1fr;
    }
  }
}