.link-nav {
  text-decoration: none;
  font-weight: 500;

  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 2px solid $black;

  &:hover {
    color: $white;
    border-bottom: 2px solid $red;
  }
}

.link {
  text-decoration: none;
  font-weight: 500;

  &:hover {
    color: $red;
  }
}

.icon {
  text-decoration: none;
  background: transparent;
  border: none;
  i {
    font-size: 1.3rem;
  }
}

.blog_item_main {
  text-decoration: none;
  display: block;
  display: grid;
  gap: .5rem;
  img {
    height: 15rem;
  }

  &:hover {
    h3 {
      border-bottom: .3rem solid rgba($red, .8);
      color: rgba($red, .8);
    }
  }
}

