$time-transition: 1s;

.b-white {
  background: $white;
  color: $black;
}

.section {
  margin: auto;
}

.radio-inside-top {
  padding-top: 15rem;
  position: relative;
  overflow: hidden;

  &::before {
    position:absolute;
    top: 0;
    right: -3rem;

    content: "";
    display: block;
    width: 110%;
    height: 12rem;
    background: $black;
    border-radius: 0 0 100% 100%;
  }
}

.projects {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  .project-item {
    position: relative;
    z-index: 1;

    .img-content {
    }
    img {
      overflow: hidden;
      transition: ease $time-transition all;

      display: block;
      width: 100%;
      height: 15rem;
      object-fit: cover;
      filter: blur(0);
    }
    
    .hover {
      transition: ease $time-transition all;
      position: absolute;
      z-index: 2;
      background: rgba($black, 0);
      width: 100%;
      height: 100%;
  
      display: flex;
      align-items: center;
      justify-content: center;
      
      font-weight: 600;
      font-size: 1.4rem;
      color: transparent;
      text-shadow: 0 0 5px rgba($white, 0);
    }

    &:hover {
      .hover {
        transition: ease $time-transition all;
        background: rgba($black, .5);
        color:  $white;
        text-shadow: 0 0 5px rgba($white, .5);
      }
      img {
        transition: ease $time-transition all;
        filter: blur(.5rem);
      }
    }
  }
}