$time-transition: 1s;

.b-white {
  background: $white;
  color: $black;
}

.section {
  margin: auto;
}

.margin-top {
  margin-top: 5rem;
}

.radio-inside-top {
  padding-top: 15rem;
  position: relative;
  overflow: hidden;

  &::before {
    position:absolute;
    top: 0;
    right: -3rem;

    content: "";
    display: block;
    width: 110%;
    height: 12rem;
    background: $black;
    border-radius: 0 0 100% 100%;
  }
}

.radio-inside-bottom {
  position: relative;
  overflow: hidden;

  &::after {
    position:absolute;
    z-index: 1;
    bottom: 0;
    right: -3rem;

    content: "";
    display: block;
    width: 110%;
    height: 12rem;
    background: $black;
    border-radius: 100% 100% 0 0%;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
  .project-item {
    position: relative;
    z-index: 1;

    img {
      overflow: hidden;
      transition: ease $time-transition all;

      display: block;
      width: 100%;
      height: 15rem;
      filter: blur(0);
    }
    
    .hover {
      transition: ease $time-transition all;
      position: absolute;
      z-index: 2;
      top: 0;
      background: rgba($black, 0);
      width: 100%;
      height: 100%;
  
      display: flex;
      align-items: center;
      justify-content: center;
      
      font-weight: 600;
      font-size: 1.4rem;
      text-shadow: 0 0 5px rgba($white, 0);

      p {
        transition: ease $time-transition all;
        filter: blur(100px);
      }
    }

    &:hover {
      .hover {
        transition: ease $time-transition all;
        background: rgba($black, .5);
        color:  $white;
        text-shadow: 0 0 5px rgba($white, .5);
        p {
          transition: ease $time-transition all;
          filter: blur(0);
        }
  
      }
      img {
        transition: ease $time-transition all;
        filter: blur(.5rem);
      }
    }
  }
}

.blogs-main {
  padding: 3rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
  align-items: center;
}


.pd-4 {
  padding: 0 4rem 4rem 4rem;
}

.card {
  width: 100%;
  .head {
    padding: .5rem 0 2rem;
  }

  .text {
    padding-bottom: 3rem;
  }
   
}

.list {
  display: grid;
  gap: 2rem;
}


.header-index {
  position: relative;
  height: 28rem;

  .head {
    position: relative;
    z-index: 2;
    background: rgba($black, .5);
    height: 100%;

    padding: 2rem 0;
    
    .title {
      width: 100%;
      background: $black;
      box-shadow: 3px 3px 5px 3px rgba($black, .5);
    }

    .desc {
      margin: 2rem 0;
      text-align: center;
    }
  }
  img {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 1;
  }

}