.items-text {
  text-align: center;
  padding: 5rem 9rem;
  .item{
    font-size: 15px;
    padding-top: 2rem;
    line-height: 1.6rem;
  }
}

.text {
  p, li, strong{
    font-family: 'Source Serif Pro', serif;
    line-height: 2rem;
    word-spacing: .1rem;
  }
}

.micro-text{
  font-size: .8rem;
  font-weight: 400;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  padding: 2rem 0;
}

.c-red {
  color: $red;
}


.c-black {
  color: $black;
}

.max-width {
  max-width: 1200px;
  margin: auto;
}


@media screen and (max-width: 600px) {
  .items-text {
    padding: 5rem 2rem;
  }
}