<h1 class="title"> Nuevo Proyecto </h1>

<div class="button-content">
  <a class="btn" href="/admin_panel/projects/show/{{ project.id }}"> Ver Proyecto </a>
</div>

<form class="main form" action="/admin_panel/projects/{{project.id}}" method="POST" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="_method" value="PUT">

  <div class="field">
    <label for="titie"> Titulo </label>
    <input type="text" id="title" name="title" placeholder="Ingresar title" value="{{ project.title }}">
  </div>

  <div class="field">
    <label for="titie"> Descripcion </label>
    <input type="text" id="description" name="description" placeholder="Ingresar description" value="{{ project.description }}">
  </div>

  <button class="btn b-red w-100" type="submit"> Agregar </button>

</form>
