<h1> Nuevo Proyecto </h1>

<form action="/admin_panel/projects" method="POST" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="_method" value="UPDATE">

  <div class="field">
    <label for="titie"> Titulo </label>
    <input type="text" id="title" name="title" placeholder="Ingresar title">
  </div>

  <div class="field">
    <label for="titie"> Descripcion </label>
    <input type="text" id="descripcion" name="descripcion" placeholder="Ingresar descripcion">
  </div>

  <button type="submit"> Agregar </button>

</form>
