<div class="card">
  <img class="img main" src="{{ blog.main_img }}">
  
  <div class="head">
    <h2 class="sub-title c-black"> {{ blog.title }} </h2>
    <div class="micro-text c-red"> por Daniel Mendoza </div>
  </div>
  
  <div class="text">
    <p class="c-black"> {{ blog.description }} </p>
  </div>

  <a class="btn b-red" href="/blog/{{blog.id}}"> Ver mas </a>
</div>