<div class="card grid-area">
  <img class="img main" src="{{ main_img }}">
  
  <div class="head">
    <h3 class="sub-title c-red"> {{ title }} </h3>
    <div class="micro-text"> por <b> Daniel Mendoza </b> </div>
  </div>
  
  <div class="text">
    <p> {{ description }} </p>
  </div>

  <a class="btn b-red" href="/blog/{{id}}"> Ver mas </a>
</div>