<div class="main">
  <img src="{{ blog.main_img }}" alt="main img">
  <div class="info">
    <h3 class="sub-title"> {{ blog.title }} </h3>
    <p class="micro-text c-red"> por {{ blog.their_admin }} </p>
  </div>
  <div class="description">
    {{ blog.description }}
  </div>
  <button class="btn b-red"> ver mas </button>
</div>