<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ titlePage }}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <header class="header">
      <div class="header-cont ">
        <div class="logo">Daniel Mendoza</div>

        <nav class="nav">
          <a class="link c-white" href="/admin_panel/blogs"> Blog </a>
          <a class="link c-white" href="/admin_panel/projects"> Portafolio </a>
          <a class="link c-white" href="/admin_panel/sliders"> sliders </a>
          <a class="link c-white" href="/admin_panel/admins"> Admins </a>
        </nav>
        
        <form method="POST" action="/admin_panel/logout" enctype="application/x-www-form-urlencoded">
          <input type="hidden" name="_method" value="DELETE">
          <button class="link c-white top" type="submit" > Salir </button>
        </form>
      </div>
    </header>
    
    <div class="content">
      {{{ body }}}
    </div>
  </div>


</body>
</html>
