<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
  <header> 
    <h2> Daniel Mendoza </h2>
  </header>

    {{{ body }}}

  <footer>
    Este es el footer
  </footer>
</body>
</html>