* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF; }

body {
  background: #1E1E1E; }

img {
  width: 100%;
  object-fit: cover; }

.over-line {
  border-bottom: 0.3rem solid #D51D0B;
  padding-bottom: .3rem; }

.container {
  width: 100%;
  max-width: 2000px;
  margin: auto; }

.logo {
  text-decoration: none;
  font-size: 1.6rem; }

.sub-title {
  font-weight: 600; }

.header {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; }
  .header .nav {
    display: flex;
    justify-content: space-between;
    height: 100%; }

.footer {
  padding: 5rem 1rem 2rem;
  background: #0F0F0F;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center; }
  .footer div {
    margin: auto; }
  .footer .options {
    display: grid;
    gap: 1rem; }
  .footer a.link {
    font-weight: 400; }
    .footer a.link:hover {
      color: #FFFFFF;
      text-decoration: underline;
      text-decoration-color: #D51D0B;
      text-decoration-thickness: .2rem; }
  .footer .networks {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, auto); }

.link-nav {
  text-decoration: none;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #1E1E1E; }
  .link-nav:hover {
    color: #FFFFFF;
    border-bottom: 2px solid #D51D0B; }

.link {
  text-decoration: none;
  font-weight: 500; }
  .link:hover {
    color: #D51D0B; }

.icon {
  text-decoration: none; }
  .icon i {
    font-size: 1.3rem; }

.blog_item_main {
  text-decoration: none;
  display: block;
  display: grid;
  gap: .5rem; }
  .blog_item_main img {
    height: 15rem; }
  .blog_item_main:hover h3 {
    border-bottom: 0.3rem solid rgba(213, 29, 11, 0.8);
    color: rgba(213, 29, 11, 0.8); }

.items-text {
  text-align: center;
  padding: 5rem 9rem; }
  .items-text .item {
    font-size: 15px;
    padding-top: 2rem;
    line-height: 1.6rem; }

.text {
  font-family: 'Source Serif Pro', serif;
  line-height: 1.6rem; }

.micro-text {
  font-size: .8rem;
  font-weight: 400; }

.title {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  padding: 2rem 0; }

.c-red {
  color: #D51D0B; }

.c-black {
  color: #1E1E1E; }

.b-white {
  background: #FFFFFF;
  color: #1E1E1E; }

.section {
  margin: auto; }

.margin-top {
  margin-top: 5rem; }

.radio-inside-top {
  padding-top: 15rem;
  position: relative;
  overflow: hidden; }
  .radio-inside-top::before {
    position: absolute;
    top: 0;
    right: -3rem;
    content: "";
    display: block;
    width: 110%;
    height: 12rem;
    background: #1E1E1E;
    border-radius: 0 0 100% 100%; }

.radio-inside-bottom {
  position: relative;
  overflow: hidden; }
  .radio-inside-bottom::after {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -3rem;
    content: "";
    display: block;
    width: 110%;
    height: 12rem;
    background: #1E1E1E;
    border-radius: 100% 100% 0 0%; }

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  .projects .project-item {
    position: relative;
    z-index: 1; }
    .projects .project-item img {
      overflow: hidden;
      transition: ease 1s all;
      display: block;
      width: 100%;
      height: 15rem;
      filter: blur(0); }
    .projects .project-item .hover {
      transition: ease 1s all;
      position: absolute;
      z-index: 2;
      top: 0;
      background: rgba(30, 30, 30, 0);
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 1.4rem;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0); }
      .projects .project-item .hover p {
        transition: ease 1s all;
        filter: blur(100px); }
    .projects .project-item:hover .hover {
      transition: ease 1s all;
      background: rgba(30, 30, 30, 0.5);
      color: #FFFFFF;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); }
      .projects .project-item:hover .hover p {
        transition: ease 1s all;
        filter: blur(0); }
    .projects .project-item:hover img {
      transition: ease 1s all;
      filter: blur(0.5rem); }

.blogs-main {
  padding: 3rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
  align-items: center; }

.pd-4 {
  padding: 0 4rem 4rem 4rem; }

.card {
  width: 100%; }
  .card .head {
    padding: .5rem 0 2rem; }
  .card .text {
    padding-bottom: 3rem; }

.list {
  display: grid;
  gap: 2rem; }

.header-index {
  position: relative;
  height: 28rem; }
  .header-index .head {
    position: relative;
    z-index: 2;
    background: rgba(30, 30, 30, 0.5);
    height: 100%;
    padding: 2rem 0; }
    .header-index .head .title {
      width: 100%;
      background: #1E1E1E;
      box-shadow: 3px 3px 5px 3px rgba(30, 30, 30, 0.5); }
    .header-index .head .desc {
      margin: 2rem 0;
      text-align: center; }
  .header-index img {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 1; }

.btn {
  width: 100%;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  background: #C8C8C8;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 2px 2px 5px rgba(200, 200, 200, 0.5); }
  .btn:hover {
    background: rgba(200, 200, 200, 0.9); }

.b-red {
  background: #D51D0B;
  color: #FFFFFF;
  box-shadow: 2px 2px 10px rgba(213, 29, 11, 0.7); }
  .b-red:hover {
    background: rgba(213, 29, 11, 0.9); }

.grid {
  display: grid; }
  .grid.col-3 {
    grid-template-columns: repeat(3, 1fr); }
  .grid.gap-4 {
    gap: 4rem; }

.grid-area {
  display: grid;
  grid-template-rows: 15rem 5rem auto 3rem; }
  .grid-area.card img {
    height: 15rem; }
