* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF; }

body {
  background: #1E1E1E; }

img {
  width: 100%;
  object-fit: cover; }

.right {
  display: flex;
  justify-content: flex-end; }

.none {
  display: none !important; }

.over-line {
  border-bottom: 0.3rem solid #D51D0B;
  padding-bottom: .3rem; }

.container {
  width: 100%;
  max-width: 2000px;
  margin: auto;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5.9rem auto auto; }

.logo {
  text-decoration: none;
  font-size: 1.6rem; }

.sub-title {
  font-weight: 600; }

.header {
  grid-area: header;
  padding: 1rem;
  background: #1E1E1E;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; }
  .header .nav {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    height: 100%; }
  .header .menu-resp {
    display: none; }

.nav-screen {
  position: fixed;
  top: 0;
  background: #FFFFFF;
  z-index: 4;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  display: grid;
  grid-template-rows: 1rem 6rem 1fr; }
  .nav-screen nav.list {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr));
    gap: 4rem; }
    .nav-screen nav.list a {
      color: #1E1E1E; }
      .nav-screen nav.list a:hover {
        color: #D51D0B; }

.content {
  grid-area: main; }

.footer {
  grid-area: footer;
  padding: 5rem 1rem 2rem;
  background: #0F0F0F;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center; }
  .footer div {
    margin: auto; }
  .footer .options {
    display: grid;
    gap: 1rem; }
  .footer a.link {
    font-weight: 400; }
    .footer a.link:hover {
      color: #FFFFFF;
      text-decoration: underline;
      text-decoration-color: #D51D0B;
      text-decoration-thickness: .2rem; }
  .footer .networks {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, auto); }

@media screen and (max-width: 600px) {
  .header .nav {
    display: none; }
  .header .menu-resp {
    display: flex;
    justify-content: flex-end; }
  .footer {
    grid-template-columns: 1fr;
    gap: 5rem; } }

.link-nav {
  text-decoration: none;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #1E1E1E; }
  .link-nav:hover {
    color: #FFFFFF;
    border-bottom: 2px solid #D51D0B; }

.link {
  text-decoration: none;
  font-weight: 500; }
  .link:hover {
    color: #D51D0B; }

.icon {
  text-decoration: none;
  background: transparent;
  border: none; }
  .icon i {
    font-size: 1.3rem; }

.blog_item_main {
  text-decoration: none;
  display: block;
  display: grid;
  gap: .5rem; }
  .blog_item_main img {
    height: 15rem; }
  .blog_item_main:hover h3 {
    border-bottom: 0.3rem solid rgba(213, 29, 11, 0.8);
    color: rgba(213, 29, 11, 0.8); }

.items-text {
  text-align: center;
  padding: 5rem 9rem; }
  .items-text .item {
    font-size: 15px;
    padding-top: 2rem;
    line-height: 1.6rem; }

.text p, .text li, .text strong {
  font-family: 'Source Serif Pro', serif;
  line-height: 2rem;
  word-spacing: .1rem; }

.micro-text {
  font-size: .8rem;
  font-weight: 400; }

.title {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  padding: 2rem 0; }

.c-red {
  color: #D51D0B; }

.c-black {
  color: #1E1E1E; }

.max-width {
  max-width: 1200px;
  margin: auto; }

@media screen and (max-width: 600px) {
  .items-text {
    padding: 5rem 2rem; } }

.b-white {
  background: #FFFFFF;
  color: #1E1E1E; }

.section {
  margin: auto; }

.sections {
  display: grid;
  gap: 20rem; }
  .sections div.section {
    width: 100%; }
    .sections div.section p {
      padding: 2rem 0;
      text-align: center; }

.margin-top {
  margin-top: 5rem; }

.radio-inside-top {
  padding-top: 15rem;
  position: relative;
  overflow: hidden; }
  .radio-inside-top::before {
    position: absolute;
    top: 0;
    right: -3rem;
    content: "";
    display: block;
    width: 110%;
    height: 12rem;
    background: #1E1E1E;
    border-radius: 0 0 100% 100%; }

.radio-inside-bottom {
  position: relative;
  overflow: hidden; }
  .radio-inside-bottom::after {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -4rem;
    content: "";
    display: block;
    width: 110%;
    height: 12rem;
    background: #1E1E1E;
    border-radius: 100% 100% 0 0%; }

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  .projects .project-item {
    position: relative;
    z-index: 1; }
    .projects .project-item img {
      overflow: hidden;
      transition: ease 1s all;
      display: block;
      width: 100%;
      height: 15rem;
      filter: blur(0); }
    .projects .project-item .hover {
      transition: ease 1s all;
      position: absolute;
      z-index: 2;
      top: 0;
      background: rgba(30, 30, 30, 0);
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 1.4rem;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0); }
      .projects .project-item .hover p {
        transition: ease 1s all;
        filter: blur(100px); }
    .projects .project-item:hover .hover {
      transition: ease 1s all;
      background: rgba(30, 30, 30, 0.5);
      color: #FFFFFF;
      text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); }
      .projects .project-item:hover .hover p {
        transition: ease 1s all;
        filter: blur(0); }
    .projects .project-item:hover img {
      transition: ease 1s all;
      filter: blur(0.5rem); }

.blogs-main {
  padding: 3rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
  align-items: center; }

.pd-cont {
  padding: 0 4rem 4rem 4rem; }

.mg-top {
  margin-bottom: 4rem; }

.card {
  width: 100%; }
  .card .head {
    padding: .5rem 0 2rem; }
  .card .text {
    padding-bottom: 3rem; }

.list {
  display: grid;
  gap: 2rem; }

.header-index {
  position: relative;
  height: 28rem; }
  .header-index .head {
    position: relative;
    z-index: 2;
    background: rgba(30, 30, 30, 0.5);
    height: 100%;
    padding: 2rem 0; }
    .header-index .head .title {
      width: 100%;
      background: #1E1E1E;
      box-shadow: 3px 3px 5px 3px rgba(30, 30, 30, 0.5); }
    .header-index .head .desc {
      margin: 2rem 0;
      text-align: center; }
  .header-index img {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 1; }

.header-show {
  position: relative;
  height: 52rem; }
  .header-show .head {
    padding-bottom: 15rem;
    position: absolute;
    z-index: 2;
    background: rgba(30, 30, 30, 0.5);
    height: 100%;
    width: 100%;
    display: grid;
    align-content: end; }
    .header-show .head .title {
      width: 100%;
      background: #1E1E1E;
      box-shadow: 3px 3px 5px 3px rgba(30, 30, 30, 0.5); }
    .header-show .head .desc {
      margin: 2rem 0;
      padding: 0 2rem;
      text-align: center; }
  .header-show img {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 1; }

@media screen and (max-width: 750px) {
  .blogs-main {
    grid-template-columns: 1fr; }
  .radio-inside-bottom::after {
    right: -2rem; }
  .pd-cont {
    padding: 0 2rem 2rem 2rem; }
  .sections {
    gap: 5rem; } }

@media screen and (max-width: 600px) {
  .radio-inside-top::before {
    right: -1.5rem; }
  .radio-inside-bottom::after {
    right: -1.5rem; }
  .projects {
    grid-template-columns: 1fr 1fr; } }

@media screen and (max-width: 450px) {
  .projects {
    grid-template-columns: 1fr; }
  .radio-inside-bottom::after {
    right: -1.5rem; } }

.btn {
  width: 100%;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  background: #C8C8C8;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(200, 200, 200, 0.5); }
  .btn:hover {
    background: rgba(200, 200, 200, 0.9); }

.b-red {
  background: #D51D0B;
  color: #FFFFFF;
  box-shadow: 2px 2px 10px rgba(213, 29, 11, 0.7); }
  .b-red:hover {
    background: rgba(213, 29, 11, 0.9); }

.btn-bars {
  display: block;
  background: transparent;
  font-size: 1.8rem;
  border: none;
  cursor: pointer; }
  .btn-bars:hover i {
    color: #D51D0B; }

.grid {
  display: grid; }
  .grid.col-3 {
    grid-template-columns: repeat(3, 1fr); }
  .grid.gap-4 {
    gap: 4rem; }

.grid-area {
  display: grid;
  grid-template-rows: 15rem 5rem auto 3rem; }
  .grid-area.card img {
    height: 15rem; }

@media screen and (max-width: 750px) {
  .grid.col-3 {
    grid-template-columns: 1fr 1fr; }
  .grid.gap-4 {
    gap: 2rem; } }

@media screen and (max-width: 600px) {
  .grid.col-3 {
    grid-template-columns: 1fr; } }

.form {
  display: grid;
  grid-template-columns: 100%;
  gap: 3rem; }
  .form .field {
    display: flex;
    flex-direction: column; }
    .form .field label {
      font-size: .9rem; }
    .form .field input[type="email"], .form .field input[type="password"], .form .field input[type="text"], .form .field textarea {
      padding: .6rem;
      margin-top: .5rem;
      border: none;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom: 0.2rem solid #D51D0B;
      outline: none;
      color: #1E1E1E;
      font-size: 14px; }
      .form .field input[type="email"]:focus, .form .field input[type="password"]:focus, .form .field input[type="text"]:focus, .form .field textarea:focus {
        border-bottom: 0.2rem solid rgba(213, 29, 11, 0.8);
        box-shadow: 1px 1px 15px rgba(213, 29, 11, 0.8); }
    .form .field textarea {
      resize: none; }

header.watch {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3; }
  header.watch.in-up {
    top: 0rem;
    transition: ease .5s all; }
  header.watch.in-down {
    top: -6rem;
    transition: ease .5s all; }

.view-nav {
  left: 0; }

.in-left-nav {
  animation: in_left_nav .5s ease; }

.in-right-nav {
  animation: in_right_nav .5s ease; }

@keyframes in_left_nav {
  0% {
    left: 0; }
  100% {
    left: 100%; } }

@keyframes in_right_nav {
  0% {
    left: 100%; }
  100% {
    left: 0; } }

.cont-resp {
  position: relative;
  right: 0; }

.in-right-cont {
  animation: in_right_container .5s ease; }

.in-left-cont {
  animation: in_left_container .5s ease; }

@keyframes in_right_container {
  0% {
    right: 0; }
  100% {
    right: 100%; } }

@keyframes in_left_container {
  0% {
    right: 100%; }
  100% {
    right: 0; } }

.slider {
  overflow: hidden;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px; }
  .slider .scontents {
    position: relative;
    z-index: 3; }
    .slider .scontents .img {
      width: 100%;
      display: block;
      height: 550px;
      object-fit: cover;
      border-radius: 5px;
      position: relative; }
    .slider .scontents .info {
      background: rgba(30, 30, 30, 0.5);
      position: absolute;
      bottom: 0;
      width: 100%;
      max-width: 700px;
      height: 100%;
      padding: 2rem;
      display: grid;
      grid-template-rows: 2fr 1fr;
      align-items: center;
      border-radius: 5px;
      z-index: 2; }
      .slider .scontents .info p {
        font-size: 1.5rem;
        font-weight: 400;
        width: 100%;
        color: white;
        position: relative; }
      .slider .scontents .info a {
        position: relative; }
    .slider .scontents .in .img {
      z-index: 2;
      animation: right_img 2s ease; }
    .slider .scontents .in .info {
      animation: left_info 2s ease; }
      .slider .scontents .in .info p {
        animation: blur_letter 3s ease; }
    .slider .scontents .info a.difum {
      filter: blur(100px); }
    .slider .scontents .info a.blur {
      animation: blur_link .5s ease; }
    .slider .scontents .info a.focus {
      animation: focus_link .5s ease;
      filter: blur(0px); }
    .slider .scontents .after .img {
      position: absolute;
      top: 0;
      z-index: 1;
      animation: right_after_img 2s ease; }

@keyframes right_img {
  0% {
    right: 0%; }
  100% {
    right: 100%; } }

@keyframes right_after_img {
  0% {
    right: -60%; }
  100% {
    right: 0%; } }

@keyframes left_info {
  0% {
    left: 0%; }
  50% {
    left: -100%; }
  100% {
    left: 0%; } }

@keyframes blur_letter {
  0% {
    filter: blur(1px); }
  50% {
    filter: blur(10px);
    top: 1000px; }
  100% {
    top: 0;
    filter: blur(1px); } }

@keyframes blur_link {
  0% {
    filter: blur(1px); }
  100% {
    filter: blur(100px); } }

@keyframes focus_link {
  0% {
    filter: blur(100px); }
  100% {
    filter: blur(1px); } }

@media screen and (max-width: 700px) {
  .slider {
    display: none; } }
