@import './_var';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: $white;
}

body {
  background: $black;
}
img {
  width: 100%;
  object-fit: cover;
}

.over-line {
  border-bottom: .3rem solid $red;
  padding-bottom: .3rem;
}

.container {
  width: 100%;
  max-width: 2000px;
  margin: auto;
}

.logo {
  text-decoration: none;
  font-size: 1.6rem;
}


.sub-title {
  font-weight: 600;
}

.header {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  .nav {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    height: 100%;
  }
  .menu-resp {
    display: none;
  }
}

.footer {
  padding: 5rem 1rem 2rem;
  background: $black_footer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  div {
    margin: auto;
  }

  .options {
    display: grid;
    gap: 1rem;
  }

  a.link {
    font-weight: 400;
    &:hover {
      color: $white;
      text-decoration: underline;
      text-decoration-color: $red;
      text-decoration-thickness: .2rem;
    }
  }

  .networks {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, auto);
  }
}


@media screen and (max-width: 600px) {
  .header {
    .nav {
      display: none;
    }

    .menu-resp {
      display: flex;
      justify-content: flex-end;
    }
  }

  .footer {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}

@import './components_cl/link.scss';
@import './components_cl/text.scss';
@import './components_cl/sections.scss';
@import './components_cl/btn.scss';
@import './components_cl/display.scss';
@import './components_cl/form.scss';