@import './_var';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  font-weight: 400;
  font-size: 1.6rem;
  color: $white;
}

.right {
  float: right;
  display: block;
}

h1.title {
  font-weight: 400;
  color: $red;
}

.c-white{
  color: $white;
} 

.c-black {
  color: $black;
}

.none {
  display: none;
}

.text {
  text-align: left;
  p , li{
    font-family: 'Source Serif Pro', sans-serif;
  }
  line-height: 1.6rem;
}

.link {
  text-decoration: none;
  font-size: 15px;
  border: none;
  background: transparent;
  cursor: pointer;
  &:hover {
    color: $red;
    text-decoration: underline;
  }
}

.container{
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 12rem 1fr;
}

header.header {
  position: relative;
  
  .header-cont {
    background: $black;
    padding: 1.4rem;
    max-width: 12rem;
    height: 100vh;
    position: fixed;
    
    display: grid;
    align-content: space-between;
    nav {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;
    }
  }
}

.content {
  padding: 2rem;
  display: grid;
  grid-template-rows: 5rem 1fr;
  grid-template-areas: "title   button"
                       "main   main"
                       "main   main";
  .button-content {
    grid-area: button;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  .main {
    grid-area: main;
    
  }
  
  .title {
    grid-area: title;
  }

}



@import './components/tables.scss';
@import './components/btn.scss';
@import './components/form.scss';
@import './components/loader.scss';
@import './components/screen.scss';
