.border-horizontal {
  border-collapse: separate; 
  border-spacing: 0 1rem;
}

.border-vertical {
  border-collapse: collapse; 
}

.table {
  text-align: center;
  // background: orange;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  &.tb-horizontal{
    tr{
      th{
        border: none;
        background: $black;
        color: $white;
        font-weight: 400;
        padding: .5rem;
      }
      td {
        padding: .5rem;
        background: $gray-card;   
      }
      th, td {
        width: 100%;

        &.init {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        &.end {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    } 
    
  }

  &.tb-vertical {
    // overflow-x: auto;
    white-space:normal;
    tr {
      th {
        width: 12rem;
        padding: 1rem;

        background: $black;
        color: $white;
        font-weight: 400;

        &.init {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
        &.end {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
      td {

        padding: 0 2rem 2rem 2rem ;
        .td-cont {
          padding: 1rem;
          background: $gray-card;
          border-radius: 5px;
          
          .list-cont {
            .item {
              display: flex;
              justify-content: space-between;
              align-items: center;
              
              padding: 2rem 0;
              margin-top: 1rem;
              border-bottom: 1px solid $gray;

              .buttons-cont {
                display: flex;
                flex-direction: column;
                button {
                  margin-top: 2rem;
                }
              }
            }
          }
          
        }
      }
    }
  }
  img {
    display: block;
    max-width: 20rem;
  }
}