<div class="content">
  {{> header_sh main_img=project.main_img title=project.title description=project.description }}

  <div class="sections max-width pd-cont">
    {{#sections}}
      <div class="section">
        <img src="{{img}}" >
        <p class="content"> {{ content }} </p>
      </div>
    {{/sections}}
  </div>

  <div class="pd-cont">
    <a href="/projects" class="link c-red"> Retornar </a>
  </div>
</div>
