<h1 class="title"> Nuevo Slider </h1>

<div class="button-content">
  <a class="btn" href="/admin_panel/sliders/show/{{slider.id}}"> Slider </a>
</div>

<form class="main form" action="/admin_panel/sliders/{{slider.id}}" method="POST" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="_method" value="PUT">

  <div class="field">
    <label for="content"> Content </label>
    <input type="text" id="content" name="content" placeholder="Ingresar content" value="{{ slider.content }}">
  </div>

  <div class="field">
    <label for="url"> Url </label>
    <input type="text" id="url" name="url" placeholder="Ingresar url" value="{{ slider.url }}">
  </div>

  <button class="btn b-red w-100" type="submit"> Guardar </button>

</form>
