<h1 class="title"> Nuevo Slider </h1>

<div class="button-content">
  <a class="btn" href="/admin_panel/sliders"> Lista </a>
</div>

<form class="main form" action="/admin_panel/sliders" method="POST">

  <div class="field">
    <label for="content"> Content </label>
    <input type="text" id="content" name="content" placeholder="Ingresar content">
  </div>

  <div class="field">
    <label for="url"> Url </label>
    <input type="text" id="url" name="url" placeholder="Ingresar url">
  </div>

  <button class="btn b-red w-100" type="submit"> Agregar </button>

</form>
