<h1> Nuevo Slider </h1>

<form action="/admin_panel/admins" method="POST">

  <div class="field">
    <label for="content"> Content </label>
    <input type="text" id="content" name="content" placeholder="Ingresar content">
  </div>

  <div class="field">
    <label for="url"> Url </label>
    <input type="text" id="url" name="url" placeholder="Ingresar url">
  </div>

  <button type="submit"> Agregar </button>

</form>
