<h1 class="title"> Editar Adminidtrador </h1>

<div class="button-content">
  <a class="btn" href="/admin_panel/admins/show/{{ admin.id }}"> Ver Admin </a>
</div>

<form class="main form" action="/admin_panel/admins/{{admin.id}}" method="POST" enctype="application/x-www-form-urlencoded">
  <input type="hidden" name="_method" value="PUT">

  <div class="field">
    <label for="name"> Nombre </label>
    <input type="text" id="name" name="name" placeholder="Ingresar nombre" value={{ admin.name }}>
  </div>

  <div class="field">
    <label for="name"> Email </label>
    <input type="text" id="email" name="email" placeholder="Ingresar email" value={{ admin.email }}>
  </div>

  <div class="field">
    <label for="is_su_admin"> is Admin: </label>
    <input type="checkbox" id="is_su_admin" name="is_su_admin" value="1">
  </div>

  <button type="submit" class="btn b-red w-100"> Guardar </button>

</form>