header.watch {
  position: fixed;
  width: 100%;
  z-index: 3; }
  header.watch.in_up {
    top: 0;
    animation: in_up .5s ease; }
  header.watch.in_down {
    top: -6rem;
    animation: in_down .5s ease; }

@keyframes in_up {
  0% {
    top: -6rem; }
  100% {
    top: 0; } }

@keyframes in_down {
  0% {
    top: 0; }
  100% {
    top: -6rem; } }
