.grid {
  display: grid; }
  .grid.col-3 {
    grid-template-columns: repeat(3, 1fr); }
  .grid.gap-4 {
    gap: 4rem; }

.grid-area {
  display: grid;
  grid-template-rows: 15rem 5rem auto 3rem; }
  .grid-area.card img {
    height: 15rem; }
